.percentageCard__container {
  overflow: hidden;
  cursor: pointer;
}
.percentageCard__container img {
  transition: transform 0.4s;
}
.percentageCard__container:hover img {
  transform: scale(1.1);
}
