.topNav__searchContainer {
  border: 2px solid #347758 !important;
  transition: 0.4s all;
}
.topNav__dropDownSearch {
  z-index: 100 !important;
}
.topNav__registerIcon {
  /* border: 2px solid red; */
  padding: 10px;
  background-color: rgb(251, 241, 200);
  border-radius: 8px 8px 21px 8px;
  transition: 0.5s;
}
.topNav__register:hover .topNav__registerIcon {
  background-color: rgb(248, 236, 188);
  border-radius: 8px 8px 8px 8px;
}
.topNav__register:hover p {
  color: #347758;
  /* transition: 0.5s all; */
}
